@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@300&display=swap');

.HomePage{
    height: 100vh;
    background-image: url(../Assets/Start.png);
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    align-items: center;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 16px;
}

.Play{
    width : 150px;
    height : 40px;
    align-items: center;
    margin-left: 5px;
    position: absolute;
    left: 30px;
    top : 80px;
}

.goal{
    left : 5px;
    top : 5px;
    width : 250px;
    font-size: 25px;
    color: black;
}

.rounded-button {
    height : 100%;
    width : 100%;
    border: 1px solid green;
    border-radius : 100px;
    background-color: green;
}